/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[14].use[5]!./src/components/ResumeBody/ResumeBody.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.resume-body {
  padding: 1.5rem 3rem;
}
.resume-body h2 {
  border-bottom: 2px solid var(--mustard);
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  margin: 1rem 0;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
}
.resume-body p {
  font-size: 1.4rem;
}
@media (max-width: 700px) {
  .resume-body {
    padding: 1.5rem 0;
  }
}
