/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[14].use[5]!./src/components/ResumeAside/ResumeAside.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.resume-aside {
  background: var(--white);
  color: var(--grey);
  font-size: 1.4rem;
  text-align: center;
  width: 25rem;
}
.resume-aside img {
  display: block;
  margin: 0;
  width: 250px;
}
.resume-aside h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}
.resume-aside h2,
.resume-aside h3 {
  color: var(--blue);
  margin-bottom: 0.5rem;
}
.resume-aside h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.resume-aside h3 {
  font-weight: 400;
  text-align: center;
}
.resume-aside hr {
  border: 0;
  border-bottom: 1px dashed #939598;
  margin: 2rem 0;
}
.resume-aside p {
  margin: 0.5rem 0 2rem;
}
.resume-aside a {
  color: var(--dark);
  display: inline-block;
  font-weight: 400;
  position: relative;
  transition: transform 250ms ease, color 250ms ease;
}
.resume-aside a:before {
  background-color: var(--pink);
  bottom: 0px;
  content: "";
  height: 0.2rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 250ms ease 0s, height 250ms ease 0s;
  width: 100%;
  z-index: -1;
}
.resume-aside a:hover {
  color: var(--mustard);
  transform: skew(-3deg, -3deg);
}
.resume-aside a:hover:before {
  height: 105%;
  width: 110%;
}
.resume-aside header {
  background: var(--blue);
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
}
.resume-aside header small {
  letter-spacing: 0.1rem;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  text-transform: uppercase;
}
.resume-aside .bio {
  padding: 4rem 2.5rem 0;
}
.resume-aside .bio-desc {
  text-align: center;
}
@media (max-width: 700px) {
  .resume-aside {
    margin: 0 auto;
    box-shadow: var(--shadow);
  }
  .resume-aside img {
    width: 100%;
  }
}
