/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[14].use[5]!./src/components/Header/Header.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
}
.header nav {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header nav ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: auto;
}
.header nav ul li {
  height: 100%;
  margin: 0.5rem;
}
.header nav ul a {
  align-items: center;
  background-color: transparent;
  border-radius: 0.3rem;
  color: var(--white-f1);
  display: flex;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}
.header nav ul a svg {
  margin-right: 0.6rem;
}
.header nav ul a:hover, .header nav ul a.active {
  background-color: var(--white-f2);
  color: var(--purple);
}
.header .logo {
  transition: transform 250ms ease;
}
.header .logo:hover {
  transform: scale(1.03);
}
.header .logo:hover a {
  color: var(--mustard);
}
@media (max-width: 700px) {
  .header .logo {
    margin-bottom: 1.6rem;
  }
}
.header .logo a {
  align-items: center;
  color: var(--white);
  display: flex;
  text-decoration: none;
}
.header .logo svg {
  fill: var(--pink);
  height: 4rem;
}
.header .logo span {
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 2rem;
  transition: color 250ms ease;
}
@media print {
  .header {
    display: none !important;
  }
}
