/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[14].use[5]!./src/components/HomeBlurb/HomeBlurb.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home-blurb {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-blurb .frame {
  border-radius: 50%;
  border: 0.5rem solid var(--white);
  box-shadow: var(--shadow);
  display: flex;
  place-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20rem;
  margin-left: 4rem;
  overflow: hidden;
  width: 20rem;
}
.home-blurb .frame img {
  transition: transform 250ms ease-in-out;
  width: 20rem;
}
.home-blurb .frame img:hover {
  transform: scale(1.15);
}
.home-blurb p {
  color: var(--white-f2);
  font-size: 2.8rem;
  line-height: 1.2;
}
.home-blurb p span {
  color: var(--mustard);
  display: block;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}
.home-blurb p + p {
  color: var(--white-f1);
  font-size: 1.8rem;
  line-height: 1.6;
}
.home-blurb p + p a {
  color: var(--white);
  display: inline-block;
  font-weight: 400;
  position: relative;
  transition: transform 250ms ease, color 250ms ease;
}
.home-blurb p + p a:after {
  background-color: var(--blue);
  bottom: 0px;
  content: "";
  height: 0.3rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 250ms ease 0s, height 250ms ease 0s;
  width: 100%;
  z-index: -1;
}
.home-blurb p + p a:hover {
  color: var(--mustard);
  transform: skew(-3deg, -3deg);
}
.home-blurb p + p a:hover:after {
  height: 105%;
  width: 110%;
}
@media (max-width: 700px) {
  .home-blurb {
    flex-direction: column;
  }
  .home-blurb p {
    font-size: 2.4rem;
    text-align: center;
  }
  .home-blurb p span {
    font-size: 3rem;
  }
  .home-blurb .frame {
    height: 16rem;
    margin-left: 0;
    margin-bottom: 2rem;
    order: -1;
    width: 16rem;
  }
  .home-blurb .frame img {
    width: 16rem;
  }
}
