/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[14].use[5]!./src/components/Footer/Footer.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  align-items: baseline;
  color: var(--white-f2);
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.footer p {
  font-size: 1.2rem;
  margin-right: 1rem;
  position: relative;
  bottom: 0.5rem;
}
.footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.footer a {
  padding-right: 1rem;
}
.footer svg {
  fill: var(--white-f1);
  height: 3rem;
  transition: all 250ms ease-in;
}
.footer svg:hover {
  fill: var(--pink);
}
@media print {
  .footer {
    display: none !important;
  }
}
