.footer {
  align-items: baseline;
  color: var(--white-f2);
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  p {
    font-size: 1.2rem;
    margin-right: 1rem;
    position: relative;
    bottom: 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  a {
    padding-right: 1rem;
  }

  svg {
    fill: var(--white-f1);
    height: 3rem;
    transition: all 250ms ease-in;
  }

  svg:hover {
    fill: var(--pink);
  }

  @media print {
    display: none !important;
  }
}
